body,
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
*:focus {
  outline: none;
}
* a {
  text-decoration: none;
}
.s-w {
  font-weight: 500;
}
.bm-w {
  font-weight: 600;
}
.m-w {
  font-weight: 700;
}
.h-w {
  font-weight: 800;
}
.s-op {
  opacity: 0.6;
}
.grandP {
  min-height: 100vh;
}
p {
  font-size: 13px;
}
input,
textarea {
  border: none;
  caret-color: gray;
  border: 1px solid var(--greyColorAlt);
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  resize: none;
}
input,
textarea {
  border-radius: 5px;
  padding: 5px;
}
:root {
  --pageColor: #f1f5fb;
  --blueColorAlt: #006ff5;
  --greenColorAlt: #2bb06b;
  --orangeColorAlt: #f6a426;
  --redColorAlt: #ff553c;
  --greyColorAlt: #e6e6e6;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--blueColorAlt);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #0066e3;
}
.grandP {
  display: flex;
}
.box h2 {
  font-weight: 800;
}
.mop {
  margin-bottom: 5px;
  opacity: 0.6;
}
.box {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
}
@media (max-width: 767px) {
  .parent {
    grid-template-columns: minmax(250px, 1fr);
  }
}

/* NAV */
#nav {
  position: relative;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0 0 0 / 0.1);
  width: 200px;
  padding: 10px;
}
#nav h3::before,
#nav h3::after {
  content: "";
  background-color: black;
  position: absolute;
  bottom: 0;
}
#nav h3::before {
  height: 2px;
  width: 60px;
}
#nav h3 {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 25px;
}
#nav h3::after {
  width: 10px;
  height: 10px;
  border: 3px solid white;
  border-radius: 50%;
  transform: translateY(50%);
}
#nav .menu {
  list-style: none;
  padding: 0;
}
#nav .menu li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  background-color: #f6f6f6;
  border-radius: 5px;
  transition: 0.3s;
  z-index: -1;
}
#nav .menu li {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#nav .menu li a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  border-radius: 5px;
}
#nav .menu li a span {
  display: inline-block;
  margin-left: 10px;
}
#nav .menu li:hover::before {
  left: 0;
}
@media (max-width: 769px) {
  #nav {
    width: 60px;
  }
  #nav .menu li a {
    text-align: center;
  }
  #nav .menu li a span {
    display: none;
  }
  #nav h3::before,
  #nav h3::after {
    content: "";
  }
}
/* END OF NAV */
/* second half*/
.main main {
  padding: 15px;
}

/*head*/
.main {
  background-color: #f1f5fb;
  flex-grow: 1;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
}
.head .handle {
  position: relative;
}
.head .handle::before {
  content: "\f002";
  font: var(--fa-font-solid);
  font-size: 10px;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
.head input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 150px;
  padding: 5px 20px;
  transition: 0.3s;
}
.ntf {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (min-width: 360px) {
  .head input:focus {
    width: 200px;
  }
}
.head .ntf span:first-child::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 1px;
  right: -1px;
  background-color: red;
  border-radius: 50%;
}
.head .ntf span:first-child {
  position: relative;
  cursor: pointer;
}
.si-m-b-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.si-s-b-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/*END OF head*/

.h::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, black 0 30%, white 30% 100%);
  width: calc(100% - 40px);
  height: 3px;
  border-radius: 5px;
}
.h {
  position: relative;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
}
/* buttons*/
.s-btn-c-blue {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: var(--blueColorAlt);
  cursor: pointer;
}
/*End OF buttons*/
/*START OF Toggle button*/
.roundedSwitch {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  transition: 0.3s;
}
.color {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--greyColorAlt);
}
.roundedSwitch input {
  display: none;
}
.slider::before {
  content: "\f00d";
  font-family: FontAwesome;
  color: var(--greyColorAlt);
}
.slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2px;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.3s;
}
.roundedSwitch input:checked + .slider {
  left: calc(100% - 27px);
}
.roundedSwitch input:checked + .slider::before {
  content: "\f00c";
  color: var(--blueColorAlt);
}
.roundedSwitch input:checked + .slider + .color {
  background-color: var(--blueColorAlt);
}
/*END OF Toggle button*/
/*START OF percentage lins*/
.path::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
.path {
  position: relative;
  height: 5px;
}
/*END OF percentage lins*/
/*radius box*/
.count {
  background-color: var(--greyColorAlt);
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-size: 10px;
}
/*radius box*/
/*START OF highlight depratment*/
.highlight {
  background-color: #f6f6f6;
}
/*END OF highlight depratment*/
