/*START OF welcome*/
#wBox {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    var(--greyColorAlt) 0% 55%,
    white 55% 100%
  );
}
#welcome {
  display: flex;
  justify-content: space-between;
}

.special {
  position: absolute;
  top: 55%;
  left: 25px;
  transform: translateY(-55%);
  border: 2px solid white;
}
#info {
  display: flex;
  margin-top: 20px;
  padding: 5px;
  width: calc(100% + 30px);
  transform: translateX(-15px);
  border: 1px solid var(--greyColorAlt);
  border-left-color: transparent;
  border-right-color: transparent;
  justify-content: space-around;
}
#info > * {
  text-align: center;
}
/*END OF welcome*/
/*START OF quick draft*/
.qdraft form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 230px;
}
.qdraft input,
.qdraft textarea {
  background-color: #eeeeee;
}
.qdraft form textarea {
  resize: none;
}
.qdraft form div {
  text-align: end;
}
/*END OF quick draft*/
/*START OF yearly target*/
.target .pdet {
  display: flex;
  gap: 10px;
}
.pdet:not(:last-child) {
  margin-bottom: 10px;
}
.det {
  flex-grow: 1;
}
.one span i {
  color: var(--blueColorAlt);
}
.two span i {
  color: var(--orangeColorAlt);
}
.three span i {
  color: var(--greenColorAlt);
}
.one span {
  background-color: #cae3ff;
}
.two span {
  background-color: #feeccc;
}
.three span {
  background-color: #d0f0df;
}
.pdet span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-weight: 200;
  font-size: 20px;
}
.percent::before,
.percent::after {
  position: absolute;
  transform: translateX(-50%);
  transition: 0.5s;
  transition-delay: 0.1s;
  opacity: 0;
}
.appear::before,
.appear::after {
  opacity: 1;
}

.one .percent::before {
  content: "40%";
  left: 40%;
  background-color: var(--blueColorAlt);
}
.two .percent::before {
  content: "55%";
  left: 55%;
  background-color: var(--orangeColorAlt);
}
.three .percent::before {
  content: "75%";
  left: 75%;
  background-color: var(--greenColorAlt);
}
.det .percent::before {
  bottom: calc(100% + 10px);
  border-radius: 10px;
  padding: 0 5px;
  text-align: center;
  color: white;
}
.det .percent {
  position: relative;
  height: 5px;
}
.one .percent {
  background-color: #cae3ff;
}
.two .percent {
  background-color: #feeccc;
}
.three .percent {
  background-color: #d0f0df;
}
.percent div {
  height: 100%;
  width: 0;
  transition: 0.5s;
}
.one .percent div {
  background-color: var(--blueColorAlt);
}
.two .percent div {
  background-color: var(--orangeColorAlt);
}
.three .percent div {
  background-color: var(--greenColorAlt);
}
.det .percent::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  top: -10px;
  border-color: transparent;
}
.one .percent::after {
  left: 40%;
  border-top-color: var(--blueColorAlt);
}
.two .percent::after {
  left: 55%;
  border-top-color: var(--orangeColorAlt);
}
.three .percent::after {
  left: 75%;
  border-top-color: var(--greenColorAlt);
}
/*END OF yearly target*/
/* statistics box*/
#std {
  display: grid;
  grid-template-rows: repeat(2, 120px);
  grid-template-columns: repeat(2, 180px);
  gap: 10px;
  justify-content: center;
}
#std div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #eeeeee;
  border-radius: 5px;
}
#std div i {
  font-size: 25px;
}
#std div strong {
  font-size: 20px;
}
#std div p {
  opacity: 0.6;
  font-size: 15px;
}
#std div:first-child i {
  color: var(--orangeColorAlt);
}
#std div:nth-child(2) i {
  color: var(--blueColorAlt);
}
#std div:nth-child(3) i {
  color: var(--greenColorAlt);
}
#std div:last-child i {
  color: var(--redColorAlt);
}
/* END OFstatistics box*/
/*START OF latest news*/
.newsIcon {
  font-size: 40px;
  width: 50px;
  height: 50px;
}
/*END OF latest news*/
/*START OF latest tasks*/
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}
.task:not(:last-child) {
  margin-bottom: 10px;
}
.task i {
  cursor: pointer;
}
/*END OF latest tasks*/
/*START OF top search items*/
.Pnames {
  display: flex;
  justify-content: space-between;
}
.Pnames:not(:last-child) {
  margin-bottom: 15px;
}
.detail p:first-child {
  font-size: 15px;
}

/*END OF top search items*/
/*START OF latest uploads*/

.fileImg {
  width: 45px;
  height: 60px;
}
.pDetail {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 0;
}
.pDetail i {
  color: var(--redColorAlt);
  font-size: 30px;
}
.pDetail:not(:last-child) {
  border-bottom: 1px solid var(--secondblueColorAlt);
}
.Detail {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*END OF latest uploads*/
/*START OF  cuurent project progress*/
#progress {
  padding: 0;
  list-style: none;
  margin-top: 10px;
}
#progress li {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
#progress li:not(:last-child) {
  margin-bottom: 10px;
}
.outerC {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 2px solid var(--blueColorAlt);
  border-radius: 50%;
}
#progress li:not(:last-child) .outerC::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 2px;
  height: 17px;
  transform: translateX(-50%);
  background-color: var(--blueColorAlt);
}
.innerC {
  width: 20px;
  height: 20px;
  background-color: var(--blueColorAlt);
  border-radius: 50%;
}
#special {
  opacity: 0.3;
  animation-name: light;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes light {
  form {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
/*END OF  cuurent project progress*/
/*START OF reminder*/
#reminder div::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}
#reminder div:nth-child(2):before {
  background-color: var(--blueColorAlt);
}
#reminder div:nth-child(3):before {
  background-color: rgba(0, 128, 0, 0.634);
}
#reminder div:nth-child(4):before {
  background-color: rgba(255, 166, 0, 0.634);
}
#reminder div:nth-child(5):before {
  background-color: rgba(255, 0, 0, 0.634);
}
#reminder div {
  position: relative;
  margin-left: 40px;
  padding-left: 15px;
}
#reminder div:not(:last-child) {
  margin-bottom: 10px;
}
#reminder div:nth-child(2) {
  border-left: 2px solid var(--blueColorAlt);
}
#reminder div:nth-child(3) {
  border-left: 2px solid var(--greenColorAlt);
}
#reminder div:nth-child(4) {
  border-left: 2px solid var(--orangeColorAlt);
}
#reminder div:nth-child(5) {
  border-left: 2px solid var(--redColorAlt);
}
/*END OF reminder*/
/*START OF latest post*/
.comment {
  border-style: solid;
  border-width: 1px;
  border-color: var(--greyColorAlt) transparent var(--greyColorAlt) transparent;
  width: calc(100% + 30px);
  transform: translateX(-15px);
  padding: 15px;
  margin: 15px 0;
  font-size: 15px;
  font-weight: 600;
}
.l-c {
  display: flex;
  justify-content: space-between;
}
/*END OF latest post*/

/*START OF social states*/
.socialP {
  display: flex;
}
.socialP:not(:last-child) {
  margin-bottom: 15px;
}
.socialP span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 45px;
  transition: 0.5s;
}
.socialP:hover span {
  rotate: 5deg;
}
.socialP:nth-child(2) span {
  background-color: #1b92e4;
}

.socialP:nth-child(3) span {
  background-color: #0e74f7;
}
.socialP:nth-child(4) span {
  background-color: #ef1d06;
}
.socialP:nth-child(5) span {
  background-color: #006dba;
}
.socialP i {
  font-size: 30px;
  color: white;
}
.social {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.socialP:nth-child(2) .social {
  background-color: #d1ebfe;
}
.socialP:nth-child(3) .social {
  background-color: #d1e3fc;
}
.socialP:nth-child(4) .social {
  background-color: #ffd1ca;
}
.socialP:nth-child(5) .social {
  background-color: #cce3f3;
}
.socialP:nth-child(2) button {
  background-color: #1b92e4;
}
.socialP:nth-child(3) button {
  background-color: #0e74f7;
}
.socialP:nth-child(4) button {
  background-color: #ef1d06;
}
.socialP:nth-child(5) button {
  background-color: #006dba;
}
.social p {
  font-weight: 700;
}
.socialP:nth-child(2) p {
  color: #1b92e4;
}
.socialP:nth-child(3) p {
  color: #0e74f7;
}
.socialP:nth-child(4) p {
  color: #ef1d06;
}
.socialP:nth-child(5) p {
  color: #006dba;
}
/*END OF social states*/
/*START OF projects*/
#wide {
  grid-column: 1/-1;
  overflow: scroll;
}
/*END OF projects*/
/*START OF projects*/
#table {
  background-color: var(--greyColorAlt);
  width: 100%;
}
@media (max-width: 910px) {
  #table {
    width: 1000px;
  }
}
#table td {
  background-color: white;
  padding: 10px;
}
#table th {
  text-align: start;
  padding: 5px 10px;
}

.icons i {
  display: inline-block;
  width: 25px;
  width: 25px;
  padding: 5px;
  border-radius: 50%;
  color: white;
}
.icons i:hover {
  position: relative;
}
.icons i:not(:first-child) {
  margin-left: -15px;
}
.stat p {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*END OF projects*/
