/* START OF site control */
.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.roundedSwitch {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  transition: 0.3s;
}
.color {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--greyColorAlt);
}
.roundedSwitch input {
  display: none;
}
.slider::before {
  content: "\f00d";
  font-family: FontAwesome;
  color: var(--greyColorAlt);
}
.slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2px;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.3s;
}
.roundedSwitch input:checked + .slider {
  left: calc(100% - 27px);
}
.roundedSwitch input:checked + .slider::before {
  content: "\f00c";
  color: var(--blueColorAlt);
}
.roundedSwitch input:checked + .slider + .color {
  background-color: var(--blueColorAlt);
}
#cMessage {
  display: block;
  height: 120px;
  width: 100%;
}
/* END OF site control */
/*START OF general info*/
#inputs input {
  display: block;
  border: 1px solid var(--greyColorAlt);
  width: 100%;
}
#inputs label {
  font-size: 13px;
}
#inputs div {
  display: flex;
}
#inputs div input {
  background-color: var(--greyColorAlt);
}
.special {
  background-color: white;
  color: var(--blueColorAlt);
}
/*END OF general info*/
/*START OF security info*/
.securitySettings {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}
.securitySettings:not(:last-child) {
  margin-bottom: 20px;
  border-color: transparent transparent var(--greyColorAlt) transparent;
  border-style: solid;
  border-bottom-width: 1px;
}
#special {
  height: 40px;
}
/*END OF security info*/
/*START OF social info*/
.info {
  background-color: var(--greyColorAlt);
  border-radius: 5px;
  gap: 10px;
  display: flex;
}
.info i {
  color: #8d8c8d;
  border-right: 1px solid #8d8c8d;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info p {
  align-self: center;
  opacity: 0.6;
}
.info:not(:last-child) {
  margin-bottom: 10px;
}
/*END OF social info*/
/*START OF Widgets Control*/
#editCB input::before {
  content: "\f00c";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  font-size: 10px;
  transform: scale(0) rotate(90deg);
  font-family: FontAwesome;
  background-color: var(--blueColorAlt);
  color: white;
  border-radius: 3px;
  transition: 0.3s;
}
#editCB input {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 12px;
  height: 12px;
  appearance: none;
  border: 2px solid grey;
  border-radius: 3px;
}
#editCB input:hover {
  border: 2px solid var(--blueColorAlt);
}
#editCB input:checked::before {
  transform: scale(1) rotate(0deg);
}
/*END OF Widgets Control*/
/*START OF backup*/
.backup form:last-child {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}
.backup form:last-child label {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #b7b7b7;
  width: calc(100% / 3);
  padding: 10px 0;
  border-radius: 5px;
}
.backup form:last-child input {
  display: none;
}
.backup form:last-child input:checked + label {
  border-color: var(--blueColorAlt);
  color: var(--blueColorAlt);
}
/*END OF backup*/
